/* Add the Tailwind directives to your CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family:'Roboto';
  
}


 .task_edit form{
  display: flex;flex-direction: column;
 }
 .task_edit form input,label,button{
  margin:5px 10px!important;
 }